#container {
  font-style: oblique;
  color: darkblue;
}
#container .name {
  font-weight: bold;
  color: rgb(8, 118, 243);
  text-align: center;
}
#container {
  background-image: url(https://ak.picdn.net/shutterstock/videos/14533228/thumb/2.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#container .address {
  font-weight: bold;
  color: rgb(21, 112, 248);
  text-align: center;
}
#container .contact {
  font-weight: bold;
  color: rgb(31, 149, 245);
  text-align: center;
  border-bottom: 1px solid #ffffff;
}
#container .column {
  float: left;
  width: 10%;
  padding: 6px;
  height: 287px;
  background-color: rgb(212, 193, 218);
  font-style: initial;
  color: blue;
}
